<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CrawlServlet</servlet-name>
        <servlet-class>servlet.CrawlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminListServlet</servlet-name>
        <servlet-class>servlet.admin.GetAdminListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>servlet.admin.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <servlet-class>servlet.admin.DeleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminServlet</servlet-name>
        <servlet-class>servlet.admin.CreateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDomainListServlet</servlet-name>
        <servlet-class>servlet.domain.GetDomainListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDomainServlet</servlet-name>
        <servlet-class>servlet.domain.CreateDomainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDomainServlet</servlet-name>
        <servlet-class>servlet.domain.DeleteDomainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDomainServlet</servlet-name>
        <servlet-class>servlet.domain.UpdateDomainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePageServlet</servlet-name>
        <servlet-class>servlet.page.CreatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePageServlet</servlet-name>
        <servlet-class>servlet.page.DeletePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMacbookModelListServlet</servlet-name>
        <servlet-class>servlet.macbookModel.GetMacbookModelListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMacbookModelServlet</servlet-name>
        <servlet-class>servlet.macbookModel.CreateMacbookModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMacbookModelServlet</servlet-name>
        <servlet-class>servlet.macbookModel.DeleteMacbookModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMacbookModelServlet</servlet-name>
        <servlet-class>servlet.macbookModel.UpdateMacbookModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMacbookModelKeywordServlet</servlet-name>
        <servlet-class>servlet.macbookModelKeyword.CreateMacbookModelKeywordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMacbookModelKeywordServlet</servlet-name>
        <servlet-class>servlet.macbookModelKeyword.DeleteMacbookModelKeywordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccessoryCategoryListServlet</servlet-name>
        <servlet-class>servlet.accessoryCategory.GetAccessoryCategoryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccessoryCategoryServlet</servlet-name>
        <servlet-class>servlet.accessoryCategory.CreateAccessoryCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccessoryCategoryServlet</servlet-name>
        <servlet-class>servlet.accessoryCategory.DeleteAccessoryCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccessoryCategoryServlet</servlet-name>
        <servlet-class>servlet.accessoryCategory.UpdateAccessoryCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccessoryCategoryKeywordServlet</servlet-name>
        <servlet-class>servlet.accessoryCategoryKeyword.CreateAccessoryCategoryKeywordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccessoryCategoryKeywordServlet</servlet-name>
        <servlet-class>servlet.accessoryCategoryKeyword.DeleteAccessoryCategoryKeywordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlServlet</servlet-name>
        <url-pattern>/CrawlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminListServlet</servlet-name>
        <url-pattern>/GetAdminListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <url-pattern>/DeleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminServlet</servlet-name>
        <url-pattern>/CreateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDomainListServlet</servlet-name>
        <url-pattern>/GetDomainListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDomainServlet</servlet-name>
        <url-pattern>/CreateDomainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDomainServlet</servlet-name>
        <url-pattern>/DeleteDomainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDomainServlet</servlet-name>
        <url-pattern>/UpdateDomainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePageServlet</servlet-name>
        <url-pattern>/CreatePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePageServlet</servlet-name>
        <url-pattern>/DeletePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMacbookModelListServlet</servlet-name>
        <url-pattern>/GetMacbookModelListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMacbookModelServlet</servlet-name>
        <url-pattern>/CreateMacbookModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMacbookModelServlet</servlet-name>
        <url-pattern>/DeleteMacbookModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMacbookModelServlet</servlet-name>
        <url-pattern>/UpdateMacbookModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMacbookModelKeywordServlet</servlet-name>
        <url-pattern>/CreateMacbookModelKeywordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMacbookModelKeywordServlet</servlet-name>
        <url-pattern>/DeleteMacbookModelKeywordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccessoryCategoryListServlet</servlet-name>
        <url-pattern>/GetAccessoryCategoryListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccessoryCategoryServlet</servlet-name>
        <url-pattern>/CreateAccessoryCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccessoryCategoryServlet</servlet-name>
        <url-pattern>/DeleteAccessoryCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccessoryCategoryServlet</servlet-name>
        <url-pattern>/UpdateAccessoryCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccessoryCategoryKeywordServlet</servlet-name>
        <url-pattern>/CreateAccessoryCategoryKeywordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccessoryCategoryKeywordServlet</servlet-name>
        <url-pattern>/DeleteAccessoryCategoryKeywordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
